body {
    background-color: rgb(45, 45, 45);
}
.main-content {
    display: flex;
    justify-content: center;
}
#container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
    max-width: 60vh;
    background-color: black;
    padding: 3vh;
    border-radius: 20px;
}
.one-square {
    flex-grow: 1;
}
.line {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}